apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: dummy-node-app
  namespace: argocd
spec:
  generators:
    - git:
        repoURL: https://github.com/<YOUR_GITHUB_USERNAME>/<REPO>.git
        revision: main
        directories:
          - path: helm/dummy-node-app
  template:
    metadata:
      name: '{{path.basename}}'
    spec:
      project: default
      source:
        repoURL: https://github.com/<YOUR_GITHUB_USERNAME>/<REPO>.git
        targetRevision: main
        path: '{{path}}'
        helm:
          valueFiles:
            - values.yaml
      destination:
        server: https://kubernetes.default.svc
        namespace: default
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
  

  