apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: dummy-node-app
  namespace: argocd
spec:
  generators:
    - git:
        repoURL: git@github.com:hamzaali-nxb/argocd.git
        revision: master
        directories:
          - path: helm/dummy-node-app
  template:
    metadata:
      name: '{{path.basename}}'
    spec:
      project: default
      source:
        repoURL: git@github.com:hamzaali-nxb/argocd.git
        targetRevision: master
        path: '{{path}}'
        helm:
          valueFiles:
            - values.yaml
      destination:
        server: https://kubernetes.default.svc
        namespace: default
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
  

  